<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Task 2 - Chat</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
        Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
        Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
        Log Out
      </button>

      <span class="navbar-brand float-right" style="padding: 0;" *ngIf="auth.isAuthenticated()"> <app-profile></app-profile></span>

    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<div class="container">
  <router-outlet></router-outlet>
</div><!-- /.container -->

